@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.content {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 100px; }

.header {
  height: 100vh;
  background: url("../img/first-section/header-bg.png") no-repeat;
  background-size: cover; }

.nav-wrapper {
  margin: 0;
  padding: 40px 20% 40px 40%;
  max-width: 100%;
  height: 100px; }

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header-menu_item {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  padding: 5px; }
  .header-menu_item:after {
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    left: -23%;
    width: 0;
    top: 67px;
    position: absolute; }
  .header-menu_item:hover:after {
    width: 150%; }
  .header-menu_item:active {
    color: #4985FF; }

.header_hr {
  border: 0;
  height: 1px; }

.header-content {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%; }
  .header-content_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 20px; }
  .header-content_slogan {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #ffffff;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 50px; }
  .header-content_button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    height: 45px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    background-color: #4985FF;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto; }

.second-section {
  height: 700px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .second-section_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    width: 900px;
    height: 100px;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    margin-bottom: 50px; }
  .second-section_text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    width: 750px;
    height: 50px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-bottom: 70px; }
  .second-section-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1113px; }
  .second-section-block {
    display: grid;
    grid-template-columns: 1fr 2fr; }
    .second-section-block-text {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      display: flex;
      flex-direction: column;
      padding-top: 15%; }
      .second-section-block-text_title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
        margin-left: 15px; }
      .second-section-block-text_text {
        font-size: 14px;
        line-height: 22px;
        color: #999999;
        width: 222px;
        margin-left: 15px; }
  .second-section-button {
    height: 45px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    background-color: #4985FF;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 100px; }

.third-section {
  width: 100%;
  height: 887px;
  padding-top: 100px;
  background-color: #F6F6F8; }
  .third-section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    max-width: 1200px;
    margin: 0 auto 100px auto; }
    .third-section-wrapper-text {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      display: flex;
      flex-direction: column;
      padding: 50px;
      max-width: 500px; }
      .third-section-wrapper-text__title {
        font-weight: bold;
        fonfont-weight: bold;
        font-size: 36px;
        line-height: 53px;
        width: 424px;
        height: 88px;
        margin-bottom: 40px; }
      .third-section-wrapper-text__text {
        width: 489px;
        height: 117px;
        font-size: 16px;
        color: #999999;
        line-height: 25px;
        margin-bottom: 30px; }
      .third-section-wrapper-text__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #4985FF; }
    .third-section-wrapper-img {
      justify-self: center;
      align-self: center; }
    .third-section-wrapper-hr {
      grid-column: 1/3; }
      .third-section-wrapper-hr__hr {
        height: 1px;
        background-color: #E0E0E0;
        border: 0; }
  .third-section-projects {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    max-width: 900px; }
    .third-section-projects-item {
      width: 104px;
      height: 67px; }
      .third-section-projects-item-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px; }
        .third-section-projects-item-head__text {
          font-size: 36px;
          line-height: 53px;
          color: #000000; }
      .third-section-projects-item-footer {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 25px;
        color: #999999;
        margin-bottom: 70px; }

.fourth-section {
  height: 1000px;
  width: 100%;
  position: relative;
  z-index: 10; }
  .fourth-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    left: 0;
    top: 0;
    z-index: 5; }
  .fourth-section-header {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px; }
    .fourth-section-header__title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 53px;
      max-width: 540px;
      height: 100px;
      color: #ffffff; }
    .fourth-section-header__button {
      height: 45px;
      width: 200px;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 30px;
      background-color: #4985FF;
      border: none;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px; }
  .fourth-section-wrapper {
    position: relative;
    z-index: 20;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; }
    .fourth-section-wrapper-item {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      display: flex;
      flex-direction: column; }
      .fourth-section-wrapper-item__img {
        margin-bottom: 30px; }
      .fourth-section-wrapper-item__subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 30px; }
        .fourth-section-wrapper-item__subtitle_numbers {
          color: #4985FF; }
      .fourth-section-wrapper-item__text {
        width: 350px;
        height: 117px;
        font-size: 16px;
        line-height: 25px;
        color: #999999;
        margin-bottom: 30px; }
      .fourth-section-wrapper-item__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #4985FF;
        text-decoration: underline;
        margin-bottom: 80px; }
    .fourth-section-wrapper-hr {
      grid-column: 1/4; }
      .fourth-section-wrapper-hr__hr {
        height: 1px;
        background-color: #E0E0E0;
        border: 0; }

.fifth-section {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background: #F6F6F8;
  height: 776px;
  width: 100%;
  text-align: center; }
  .fifth-section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    width: 100%;
    margin-bottom: 50px; }
  .fifth-section-text {
    width: 730px;
    height: 41px;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin: 0 auto;
    margin-bottom: 70px; }
  .fifth-section-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px; }
  .fifth-section__button {
    height: 45px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    background-color: #4985FF;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 130px; }

.sixth-section {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  height: 735px;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("../img/sixth-section/bg.png") no-repeat;
  background-size: contain;
  text-align: center;
  margin: 0 auto; }
  .sixth-section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #ffffff;
    margin-bottom: 30px; }
  .sixth-section-subtitle {
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 70px; }
  .sixth-section-video {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/sixth-section/vido=eo-bg.png");
    height: 430px;
    width: 970px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(111, 111, 111, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 85px;
    margin-right: auto;
    margin-left: auto; }
    .sixth-section-video-border {
      height: 100px;
      width: 300px;
      border: 1px solid #ffffff;
      border-radius: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px; }
      .sixth-section-video-border__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #ffffff; }
  .sixth-section-hr__hr {
    height: 1px;
    background-color: #E0E0E0;
    border: 0;
    margin-bottom: 50px; }
  .sixth-section-subscribe-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 20px; }
  .sixth-section-subscribe-subtitle {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 30px; }
  .sixth-section-subscribe-wrapper {
    width: 489px;
    margin: 0 auto 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .sixth-section-subscribe-wrapper__input {
      outline: 0;
      border-top: 1px solid #F2F2F2;
      border-bottom: 1px solid #F2F2F2;
      border-left: 1px solid #F2F2F2;
      border-right: 0;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      height: 45px;
      padding: 13px 33px;
      margin: 0;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25); }
    .sixth-section-subscribe-wrapper__button {
      height: 45px;
      width: 200px;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 30px;
      background-color: #4985FF;
      border: none;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .sixth-section-subscribe-notification {
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    margin-bottom: 85px; }
